
script(type="text/javascript" src="/js/libraries/react@16/react.production.min.js")
script(type="text/javascript" src="/js/libraries/react@16/react-dom.production.min.js")
script(type="text/javascript" src="/js/libraries/socket.io@2/socket.io-2.3.0.js")
script(type="text/javascript" src="/js/libraries/bootstrap@4/bootstrap-4.4.1.min.js")

script(type="text/javascript").
  window.localizedData = 'Add to the list of Social Quote~###~b8a27120~:::~เพิ่มเข้าไปใน Social Quote~;;;~Already have an account?~###~982c997c~:::~มีสมาชิกอยู่แล้ว?~;;;~By~###~e6b66080~:::~โดย~;;;~Confirm~###~38be5754~:::~ยืนยันรหัสผ่าน~;;;~Delete~###~cb9e907d~:::~ลบ~;;;~Don\'t have a account?~###~8138a7c8~:::~ยังไม่มีสมาชิก?~;;;~E-mail~###~d07822a9~:::~อีเมล์~;;;~Login~###~4890b3d6~:::~เข้าสู่ระบบ~;;;~Logout~###~a989aab8-text~:::~ออกจากระบบ~;;;~Love~###~38be6125~:::~ชื่นชอบ~;;;~Password~###~7a8498de~:::~รหัสผ่าน~;;;~Register~###~b011a65a-text~:::~สมัครเลย~;;;~There doesn\'t have any of comment.~###~c312e749~:::~ตอนนี้ยังไม่มีความเห็นใดๆ~;;;~among~###~ac71a3c1~:::~จำนวนผู้ที่ชื่นชอบ~;;;~match workplace quotes that flutter you~###~2d1a5e27~:::~ที่แห่งใหม่สำหรับนักทำงาน~;;;~people~###~9913e167~:::~คน~;;;~since~###~1c99e682~:::~เมื่อ';
  window.settings = null;
script(type="text/javascript" src="/js/Site.bundle.js?version=1684334745640")
